@media (max-width:768px) {
	.header {
		width: 740px;
		padding: 0 5px;
	}
	.promo {
		&__header {
			font-size: 35px;
			padding-right: 50px;
		}
		&__subheader {
			font-size: 20px;
			padding-right: 45px;
		}
		&__icons {
			padding-right: 50px;
		}
		&__link {
			padding-right: 50px;
		}
	}
	.button_main {
		margin-right: 50px;
	}
	
	.advantages {
		&__card_descr {
			width: 150px;
		}
	}
	
	.consultation {
		&__descr {
			margin-left: 50px;
		}
		.title {
			margin-left: 50px;
		}
		.title_left {
			margin-left: 50px;
		}
		
		.feed-form {
			margin-left: 50px;
		}
	}
	
	.catalog {
		.catalog-item__content_active {
			margin-right: 80px;
		}
	}
}

@media (max-width: 575px) {
	.header {
		width: 420px;
		padding-left: 2px;
	}
	
	.promo {
		
		&__header {
			font-size: 25px;
			padding-right: 10px;
		}
		&__subheader {
			font-size: 15px;
			padding-right: 10px;
		}
		&__icons {
			padding-right: 0px;
			margin: 0 auto;
			margin-top: 20px;
			width: 395px;
		}
	}
	
	.button_main {
		margin-top: 20px;
		width: 200px;
	}
	
	.advantages {
		&__header {
			font-size: 25px;
		}
		&__cards {
			flex-direction: column;
    		align-items: center;
			margin: 0 auto;
		}
		&__card {
			margin-top: 30px;
			padding: 0;
		}
		&__card_nopadding {
			margin: 0;
		}
		&__card_descr {
			width: 300px;
		}
	}

	.carousel {
		display: none;
	}
	
	.catalog {
		.catalog__tabs {
			padding-left: 10px;
			width: 95%;
		}
		.catalog__tab {
			div {
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 320px) {
	.header {
		flex-direction: column;
		margin: 0 auto;
		width: 300px;
		&__contacts {
			margin-top: 15px;
		}
	}
	.promo {
		width: 100%;
		:nth-child(1) {
			margin-top: 0;
		}
		&__icons {
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		&__icon {
			margin-top: 15px;
		}
		&__header {
			font-size: 20px;
			margin: 0 auto;
		}
		&__subheader {
			text-align: center;
			font-size: 15px;
		}	
	}

	.consultation {
		.title {
			margin: 0;
		}
		&__descr {
			margin: 0;
			padding-top: 10px;
		}
		.feed-form {
			margin-left: 10px;
		}
	}

	
}
